---
---
<style>
  .item {
    display: flex;
  }
  .preview {
    width: 120px;
    margin-right: 20px;
  }
  .content {
    flex: 1;
    justify-content: left;
    align-items: center;
  }
</style>
<div class="item">
  <div class="container">
    {% if entry.preview contains '://' -%}
      <img class="preview z-depth-1 rounded" src="{{ entry.preview }}">
    {%- else -%}
      {%- assign entry_path = entry.preview | prepend: '/assets/img/publication_preview/' -%}
      {% include figure.html
      path=entry_path
      class="preview z-depth-1 rounded"
      alt=entry.preview -%}
    {%- endif -%}
    <div class="content">
      <div class="date">{{ entry.month }} {{ entry.year }}</div>
      {% if entry.url %}
        <a href="{{ entry.url }}" class="title-link" target="_blank" rel="noreferrer">{{ entry.title }}</a>
      {% else %}
        <p class="title">{{ entry.title }}</p>
      {% endif %}
    <div class="author">
        {% assign author_array_size = entry.author_array | size %}

        {% assign author_array_limit = author_array_size %}
        {%- if site.max_author_limit and author_array_size > site.max_author_limit %}
          {% assign author_array_limit = site.max_author_limit %}
        {% endif %}

        {%- for author in entry.author_array limit: author_array_limit -%}
          {%- assign author_is_self = false -%}
          {%- assign author_last_name = author.last | remove: "¶" | remove: "&" | remove: "*" | remove: "†" | remove: "^" -%}
          {%- if site.scholar.last_name contains author_last_name -%}
            {%- if site.scholar.first_name contains author.first -%}
              {%- assign author_is_self = true -%}
            {%- endif -%}
          {%- endif -%}
          {%- assign coauthor_url = nil -%}
          {%- if site.data.coauthors[author_last_name] -%}
            {%- for coauthor in site.data.coauthors[author_last_name] -%}
              {%- if coauthor.firstname contains author.first -%}
                {%- assign coauthor_url = coauthor.url -%}
                {%- break -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}

          {%- if forloop.length > 1 -%}
            {%- if forloop.first == false -%},&nbsp;{%- endif -%}
            {%- if forloop.last and author_array_limit == author_array_size -%}and&nbsp;{%- endif -%}
          {%- endif -%}
        {%- assign author_name = author.first | append: " " | append: author.last -%}
          {%- if author_name contains "xxxx" -%}
            <em>{{author.first}} {{author.last}}</em>
          {%- else -%}
            {%- if coauthor_url -%}
              <a href="{{coauthor_url}}">{{author.first}} {{author.last}}</a>
            {%- else -%}
              {{author.first}} {{author.last}}
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
        {%- assign more_authors = author_array_size | minus: author_array_limit -%}

        {%- assign more_authors_hide = more_authors | append: " more author" -%}
    {%- if more_authors > 0 -%}
        {%- if more_authors > 1 -%}
            {%- assign more_authors_hide = more_authors_hide | append: "s" -%}
        {%- endif -%}
        {%- assign more_authors_show = '' -%}
        {%- for author in entry.author_array offset: author_array_limit -%}
            {%- assign author_name = author.first | append: " " | append: author.last -%}

            {%- assign more_authors_show = more_authors_show | append: author_name -%}
            {%- unless forloop.last -%}
                {%- assign more_authors_show = more_authors_show | append: ", " -%}
            {%- endunless -%}
          {%- endfor -%}
          , and
          <span
              class="more-authors"
              title="click to view {{more_authors_hide}}"
              onclick="
                var element = $(this);
                element.attr('title', '');
                var more_authors_text = element.text() == '{{more_authors_hide}}' ? '{{more_authors_show}}' : '{{more_authors_hide}}';
                var cursorPosition = 0;
                var textAdder = setInterval(function(){
                  element.text(more_authors_text.substring(0, cursorPosition + 1));
                  if (++cursorPosition == more_authors_text.length){
                    clearInterval(textAdder);
                  }
              }, '{{site.more_authors_animation_delay}}');
              "
          >{{more_authors_hide}}</span>
        {%- endif -%}

        </div>
      <div class="details" style="text-align: left;">
          {%- if entry.pdf %}
            {% if entry.pdf contains '://' -%}
            <a href="{{ entry.pdf }}" class="btn btn-sm z-depth-0" role="button">PDF</a>
            {%- else -%}
            <a href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">PDF</a>
            {%- endif %}
        {%- endif %}
          {%- if entry.bibtex_show %}
            <a class="bibtex btn btn-sm z-depth-0" role="button" ><font style="color:black">Bib</font></a>
          {%- endif %}

          {%- if entry.blog %}
            <a href="{{ entry.blog }}" class="btn btn-sm z-depth-0" role="button">Blog</a>
<!--          <a href="{{ entry.blog }}">blog</a>-->
          {%- endif %}
          {%- if entry.code %}
            <a href="{{ entry.code }}" class="btn btn-sm z-depth-0" role="button">Code</a>
<!--          <a href="{{ entry.code }}">code</a>-->
          {%- endif %}
        {%- if entry.website %}
            <a href="{{ entry.website }}" class="btn btn-sm z-depth-0" role="button">Website</a>
<!--          <a href="{{ entry.website }}">website</a>-->
        {%- endif %}
        {%- if entry.journal %}
                    <a  style="border-width:2px; border-style:solid;color:blue;padding:0.1em;margin:0 0.5em;white-space:nowrap;">{{ entry.journal }}</a>
<!--                      <a class="btn btn-sm z-depth-0" role="button"><a  style="border-width:3px; border-style:solid;color:blue;padding:0.1em;margin:0 0.1em;white-space:nowrap;">{{ entry.journal }}</a></a>-->
        {%- endif %}
          {% if entry.booktitle %}
            <a  style="border-width:2px; border-style:solid;color:blue;padding:0.1em;margin:0 0.5em;white-space:nowrap;">{{ entry.booktitle }}</a>
          {%- endif %}
          {% if entry.inproceedings %}
            <a  style="border-width:2px; border-style:solid;color:blue;padding:0.1em;margin:0 0.5em;white-space:nowrap;">{{ entry.inproceedings }}</a>
          {%- endif %}

        {% if entry.highlight %}
            <strong style="border-width:2px; border-style:solid;color:red;padding:0.1em;margin:0 0.5em;white-space:nowrap;">{{ entry.highlight }}</strong>
        {%- endif %}
      </div>
{% if entry.bibtex_show -%}
<div class="item" style="font-size: 12px; line-height: 1.1;">
          <!-- Hidden bibtex block -->
          <div class="bibtex hidden">
            {% highlight bibtex %}{{ entry.bibtex | hideCustomBibtex }}{% endhighlight %}
          </div>
          {%- endif %}
          </div>
    </div>
  </div>
  <hr class="separator">
</div>
